<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.130.14.86:8090/service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Service1Soap" contract="MailSvc.Service1Soap"
                name="Service1Soap" />
        </client>
    </system.serviceModel>
</configuration>